<p><%= this.question.data %></p>  

<form action = "api/questions/saveAnswer" method = "post">
<%
var isMulti = "radio";
if (this.question.isMulti == "t")
  isMulti = "checkbox";
var name = "answ" + this.question.id;// + "[]";
  for (var i in this.answers)
  {
    if (this.question.isMulti == "t")
      name = "answ" + this.answers[i].id;// = i;
%>      
  <input type = "<%= isMulti %>" name = "<%= name %>" value = "<%= this.answers[i].id %>"><nobr><%= this.answers[i].data %> </nobr> 
<%
  }
%>
  <input type = "hidden" name = "questionId" value = "<%= this.question.id %>">
  <input type = "submit">
</form>
<% this.Defer(function()
{  
  this.first().next().ajaxForm(function(){});  
})%>