<p><%= this.q.data %></p>  

<form action = "api/questions/saveAnswer" method = "post">
<%

  for (var i in this.a)
  {
    if (this.q.isMulti == "t")
    {
      var isMulti = "checkbox";
      %>      
      <input type = "<%= isMulti %>" name = "<%= this.a[i].id %>" value = "Yes"><nobr><%= this.a[i].data %> </nobr> 
      <%
    }
    else
    {
      var isMulti = "radio";      
      %>
      <input type = "<%= isMulti %>" name = "<%= this.q.id %>" value = "<%= this.a[i].id %>"><nobr><%= this.a[i].data %> </nobr> 
      <%
    }
  }
%>
  <input type = "hidden" name = "qId" value = "<%= this.q.id %>">
  <input type = "hidden" name = "tId" value = "<%= this.t %>">
  <input type = "hidden" name = "isMulti" value = "<%= this.q.isMulti %>">
  <input type = "submit">
</form>
<% this.Defer(function()
{  
  this.first().next().ajaxForm(function(){});  
})%>